<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <title>Registro</title>
</head>
<body>
    
    <div class="container">
         <h1>Registro de citas </h1>
        <div class="col">
            <form action="/Layout/confirmacion.html" method="post">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nombre</label>
                  <input type="text" class="form-control" id="Nombre" name="Nombre">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Apellido Paterno</label>
                    <input type="text" class="form-control" id="ApellidoPaterno" name="ApellidoPaterno">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Apellido Materno</label>
                    <input type="text" class="form-control" id="ApellidoMaterno" name="ApellidoMaterno">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Sexo</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="hombre">Hombre</option>
                      <option value="mujer">Mujer</option>                   
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Correo</label>
                    <input type="email" class="form-control" id="email" name="email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Telefono</label>
                    <input type="email" class="form-control" id="telefono" name="telefono">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Direccion</label>
                    <input type="email" class="form-control" id="direccion" name="direccion">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Distrito</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="a">A</option>
                      <option value="b">B</option>                   
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Nombre Mascota</label>
                    <input type="email" class="form-control" id="mascota" name="mascota">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Tipo Mascota</label>
                    <select class="form-control" id="exampleFormControlSelect1">
                      <option value="gato">Gato</option>
                      <option value="perro">Perro</option>                   
                    </select>
                  </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
</body>
</html>